@mixin typeset-link {
  color: $theme-link-color;
  text-decoration: underline;

  &:visited {
    color: $theme-link-visited-color;
  }

  &:hover {
    color: $theme-link-hover-color;
  }

  &:active {
    color: $theme-link-active-color;
  }

  &:focus {
    @include focus-outline;
  }
}
