//24, 40, 56 circle square rounded

.avatar {
  display: inline-flex;
  overflow: hidden;
  line-height: 1;
  align-items: center;
  background-color: uspto-color(light, 400);
  border-radius: 10px;
  flex-shrink: 0;

  &--circle {
    border-radius: 100%;
  }
  &--rounded {
    border-radius: 0.25rem;
  }
  &--square {
    border-radius: 0;
  }
  &--sm {
    width: 1.5rem;
    height: 1.5rem;
  }
  &--md {
    width: 2.5rem;
    height: 2.5rem;
  }
  &--lg {
    width: 3.5rem;
    height: 3.5rem;
  }
  &--xl {
    width: 5rem;
    height: 5rem;
  }
  &--profile {
    width: 2rem;
    height: 2rem;
    background: transparent;
  }
  &--profile-sm {
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
  }
}
