$tmx-primary: uspto-color(blue, 400);
$tmx-primary-dark: uspto-color(blue, 600);
$tmx-primary-darker: uspto-color(blue, 700);

$tmx-secondary: uspto-color(gray, 400);
$tmx-secondary-dark: uspto-color(gray, 600);
$tmx-secondary-darker: uspto-color(gray, 7400);

$tmx-success: uspto-color(green, 400);
$tmx-success-dark: uspto-color(green, 600);
$tmx-success-darker: uspto-color(green, 700);

$tmx-danger: uspto-color(red, 400);
$tmx-danger-dark: uspto-color(red, 600);
$tmx-danger-darker: uspto-color(red, 700);

$tmx-info: uspto-color(cyan, 400);
$tmx-info-dark: uspto-color(cyan, 600);
$tmx-info-darker: uspto-color(cyan, 700);

$tmx-warning: uspto-color(orange, 400);
$tmx-warning-dark: uspto-color(orange, 600);
$tmx-warning-darker: uspto-color(orange, 700);

$tmx-light: uspto-color(light, 400);
$tmx-light-dark: uspto-color(light, 600);
$tmx-light-darker: uspto-color(light, 700);

$tmx-dark: uspto-color(gray, 900);
$tmx-dark-dark: uspto-color(dark, 600);
$tmx-dark-darker: uspto-color(dark, 700);

.tmx-btn {
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: uspto-color(gray, 900);
  align-items: center;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  &--focus {
    outline: 0.25rem solid #2491ff;
    outline-offset: 0;
  }
  &:not([disabled]).tmx-btn--focus,
  &:not([disabled]):focus {
    outline-offset: 0.25rem;
  }
  &:hover {
    color: uspto-color(gray, 900);
  }
  &:disabled {
    background-color: $disabled;
    color: #fff;
    pointer-events: none;
  }
  //large button
  &--lg {
    font-size: 1.375rem;
    padding: 1rem 1.5rem;
  }
  &--sm {
    font-size: 0.875rem;
    padding: 0.625rem 1rem;
    max-height: 2.5rem;
  }

  //primary
  &--primary {
    background-color: $tmx-primary;
    color: #fff;
    &:hover {
      background-color: $tmx-primary-dark;
      color: #fff;
    }
    &:active {
      background-color: $tmx-primary-darker;
      color: #fff;
    }
  }
  //secondary
  &--secondary {
    background-color: $tmx-secondary;
    color: #fff;
    &:hover {
      background-color: $tmx-secondary-dark;
      color: #fff;
    }
    &:active {
      background-color: $tmx-secondary-darker;
      color: #fff;
    }
  }
  //success
  &--success {
    background-color: $tmx-success;
    color: #fff;
    &:hover {
      background-color: $tmx-success-dark;
      color: #fff;
    }
    &:active {
      background-color: $tmx-success-darker;
      color: #fff;
    }
  }
  //danger
  &--danger {
    background-color: $tmx-danger;
    color: #fff;
    &:hover {
      background-color: $tmx-danger-dark;
      color: #fff;
    }
    &:active {
      background-color: $tmx-danger-darker;
      color: #fff;
    }
  }

  //info
  &--info {
    background-color: $tmx-info;
    color: #fff;
    &:hover {
      background-color: $tmx-info-dark;
      color: #fff;
    }
    &:active {
      background-color: $tmx-info-darker;
      color: #fff;
    }
  }

  //warning
  &--warning {
    background-color: $tmx-warning;
    color: uspto(gray, 900);
    &:hover {
      background-color: $tmx-warning-dark;
      color: #fff;
    }
    &:active {
      background-color: $tmx-warning-darker;
      color: #fff;
    }
  }

  //light
  &--light {
    background-color: $tmx-light;
    color: uspto(gray, 900);
    &:hover {
      background-color: $tmx-light-dark;
      color: uspto(gray, 900);
    }
    &:active {
      background-color: $tmx-light-darker;
      color: uspto(gray, 900);
    }
  }

  //dark
  &--dark {
    background-color: $tmx-dark;
    color: #fff;
    &:hover {
      background-color: $tmx-dark-dark;
      color: #fff;
    }
    &:active {
      background-color: $tmx-dark-darker;
      color: #fff;
    }
  }

  //link
  &--link {
    background-color: transparent;
    color: $tmx-primary;
    text-decoration: underline;
    padding: 0;
    font-weight: 400;
    &:hover {
      background-color: transparent;
      color: $tmx-primary-dark;
    }
    &:active {
      background-color: transparent;
      color: $tmx-primary-darker;
    }
  }

  //outline btns
  //outline-primary
  &--outline-primary {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $tmx-primary;
    color: $tmx-primary;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-primary-dark;
      color: $tmx-primary-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-primary-darker;
      color: $tmx-primary-darker;
    }
  }
  //outline-secondary
  &--outline-secondary {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $tmx-secondary;
    color: $tmx-secondary;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-secondary-dark;
      color: $tmx-secondary-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-secondary-darker;
      color: $tmx-secondary-darker;
    }
  }
  //outline-success
  &--outline-success {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $tmx-success;
    color: $tmx-success;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-success-dark;
      color: $tmx-success-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-success-darker;
      color: $tmx-success-darker;
    }
  }
  //outline-danger
  &--outline-danger {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $tmx-danger;
    color: $tmx-danger;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-danger-dark;
      color: $tmx-danger-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-danger-darker;
      color: $tmx-danger-darker;
    }
  }
  //outline-info
  &--outline-info {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $tmx-info;
    color: $tmx-info;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-info-dark;
      color: $tmx-info-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-info-darker;
      color: $tmx-info-darker;
    }
  }
  //outline-warning
  &--outline-warning {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $tmx-warning;
    color: $tmx-warning;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-warning-dark;
      color: $tmx-warning-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-warning-darker;
      color: $tmx-warning-darker;
    }
  }
  //outline-dark
  &--outline-dark {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $tmx-dark;
    color: $tmx-dark;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-dark-dark;
      color: $tmx-dark-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $tmx-dark-darker;
      color: $tmx-dark-darker;
    }
  }
}
