.fdx-checkbox {
  background-color: transparent;

  &__input {
    position: absolute;
    left: -999em;
    right: auto;

    &:checked + [class*="__label"]::before,
    &:checked:disabled + [class*="__label"]::before {
      background-position: center center;
      background-size: 1.5rem auto;
    }
    &:checked + [class*="__label"]::before,
    &:checked:disabled + [class*="__label"]::before {
      background-image: url(../img/icons/icon-checkbox-check.svg),
        linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
    }
    &:checked + [class*="__label"]::before {
      background-color: $primary;
      box-shadow: 0 0 0 2px $primary;
    }

    &:checked:disabled + [class*="__label"]::before {
      background-color: $disabled;
    }

    &:disabled + [class*="__label"],
    &:disabled + [class*="__label"]::before {
      cursor: not-allowed;
    }
    &:disabled + [class*="__label"] {
      color: $disabled;
    }

    &:disabled + [class*="__label"]::before {
      background-color: #fff;
      box-shadow: 0 0 0 2px $disabled;
    }

    &:focus + [class*="__label"]::before {
      //@include focus-outline;
      @include focus-outline(null, null, null, 0.25rem);
    }
  }
  &__label {
    cursor: pointer;
    display: inherit;
    font-weight: 400;
    margin-top: 0.75rem;
    padding-left: 2rem;
    position: relative;

    color: $base-darkest;
    &::before {
      content: " ";
      display: block;
      left: 0;
      margin-left: 2px;
      margin-top: 0.064rem;
      position: absolute;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 2px;
      background: #fff;
      box-shadow: 0 0 0 2px $base;
    }
  }
}
