.tmx-icon-btn {
  background-color: transparent;
  border: 0;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: uspto-color(gray, 900);
  svg,
  img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }
  &:hover {
    background-color: transparent;
    color: uspto-color(blue, 400);
  }
  &--sm {
    padding: 0.4375rem;
    svg,
    img {
      display: block;
      width: 1.125rem;
      height: 1.125rem;
      fill: currentColor;
    }
  }

  &--panel-tab-views {
    color: #fff;
    height: 100%;
    border-radius: 0;
    background-color: uspto-color(blue, 600);
    &:hover {
      background-color: uspto-color(blue, 700);
      color: #fff;
    }
  }
}
