$panel-tab-background-color: $base-lightest;
$panel-tab-active-background-color: #fff;
$panel-tab-hover-background-color: $base-lighter;
$panel-tab-border-color: $base-lighter;
$panel-tab-active-highlight-color: blue;
$panel-tab-color: $base-darkest;
$panel-tab-hover-color: $base-darkest;

.panel-tab {
  background-color: $panel-tab-background-color;
  border: $panel-tab-border-color 1px solid;
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 0;
  font-size: 0.8125rem;
  padding: 12px 12px 10px 12px;
  //height: 2rem;
  color: $panel-tab-color;
  text-decoration: none;
  position: relative;

  &:hover {
    background-color: $panel-tab-hover-background-color;
    color: $panel-tab-hover-color;
  }
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--active {
    background-color: $panel-tab-active-background-color;
    border-bottom-color: #fff;
    &:hover {
      background-color: #fff;
    }
    &::before {
      background-color: $panel-tab-active-highlight-color;
    }
  }
  &--disabled {
    background-color: $base-lightest;
    border-color: $base-lightest;
    color: $base-light;
    cursor: text;
    &:hover {
      background-color: $base-lightest;
      border-color: $base-lightest;
      color: $base-light;
    }
  }

  &--link {
    background-color: transparent;
    border-color: transparent;
    color: $primary;
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $primary;
      text-decoration: underline;
    }
  }

  &__label {
    background-color: transparent;
    &--truncate {
      max-width: 12rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  //optional
  &__leading-icon {
    margin-right: 0.5rem;
    margin-left: -0.25rem;
    display: inline-flex;
    svg,
    img {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
      fill: currentColor;
    }
  }
  //optional
  &__trailing-icon {
    margin-left: 0.5rem;
    margin-right: -0.25rem;
    color: green;
    display: inline-flex;
    svg,
    img {
      width: 1.125rem;
      height: 1.125rem;
      display: block;
      fill: currentColor;
    }
  }
  button {
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
    color: currentColor;
    &:hover {
      color: red;
    }
  }
}

//buttons
.panel-tab-btn-list {
  list-style: none;
  background-color: transparent;
  display: inline-flex;
  padding: 0;
  margin: 0;
  &:hover {
    background-color: none;
  }

  &__item {
    margin: 0 2px;
    background-color: transparent;
    &:last-of-type {
      margin-right: 0;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
}
