.panel-tab-btn {
  border: 0;
  background-color: transparent;

  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  color: uspto-color(gray, 300);
  &:hover {
    color: uspto-color(gray, 900);
  }

  &--active {
    color: uspto-color(blue, 400);
    &:hover {
      color: uspto-color(gray, 900);
    }
  }
}
