.panel-tab-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  &__item {
    margin: 0 0.25rem 0 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
