.pill {
  background-color: uspto-color(light, 600);
  border: uspto-color(light, 400);
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 2rem;
  font-size: 0.8125rem;
  padding: 0.375rem 0.75rem;
  height: 2rem;
  color: uspto-color(gray, 900);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: uspto-color(light, 400);
    color: uspto-color(gray, 900);
  }
  &--active {
    background-color: uspto-color(gray, 900);
    border-color: uspto-color(gray, 900);
    color: #fff;
    &:hover {
      background-color: uspto-color(gray, 900);
      border-color: uspto-color(gray, 900);
      color: #fff;
    }
  }
  &--disabled {
    background-color: uspto-color(light, 600);
    border-color: uspto-color(light, 200);
    color: uspto-color(light, 400);
    cursor: text;
    &:hover {
      background-color: uspto-color(light, 600);
      border-color: uspto-color(light, 200);
      color: uspto-color(light, 400);
    }
  }

  &--link {
    background-color: transparent;
    border-color: transparent;
    color: uspto-color(blue, 400);
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: uspto-color(blue, 400);
      text-decoration: underline;
    }
  }

  &__label {
    background-color: transparent;
    &--truncate {
      max-width: 12rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  //optional
  &__leading-icon {
    margin-right: 0.5rem;
    margin-left: -0.25rem;
    svg,
    img {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
      fill: currentColor;
    }
  }
  //optional
  &__trailing-icon {
    margin-left: 0.5rem;
    margin-right: -0.25rem;
    svg,
    img {
      width: 1.125rem;
      height: 1.125rem;
      display: block;
      fill: currentColor;
    }
  }
  button {
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
    color: currentColor;
  }
}
