/* Define the Sass Map called $bgMap */
$bgMap: (
  accent-cool-dark: $accent-cool-dark,
  accent-cool-darker: $accent-cool-darker,
  accent-cool-light: $accent-cool-light,
  accent-cool-lighter: $accent-cool-lighter,
  accent-cool: $accent-cool,
  accent-warm-dark: $accent-warm-dark,
  accent-warm-darker: $accent-warm-darker,
  accent-warm-light: $accent-warm-light,
  accent-warm-lighter: $accent-warm-lighter,
  accent-warm: $accent-warm,
  base-dark: $base-dark,
  base-darker: $base-darker,
  base-darkest: $base-darkest,
  base-light: $base-light,
  base-lighter: $base-lighter,
  base-lightest: $base-lightest,
  base: $base,
  disabled-dark: $disabled-dark,
  disabled-light: $disabled-light,
  disabled: $disabled,
  error-dark: $error-dark,
  error-darker: $error-darker,
  error-light: $error-light,
  error-lighter: $error-lighter,
  error: $error,
  info-dark: $info-dark,
  info-darker: $info-darker,
  info-light: $info-light,
  info-lighter: $info-lighter,
  info: $info,
  primary-dark: $primary-dark,
  primary-darker: $primary-darker,
  primary-light: $primary-light,
  primary-lighter: $primary-lighter,
  primary-vivid: $primary-vivid,
  primary: $primary,
  secondary-dark: $secondary-dark,
  secondary-darker: $secondary-darker,
  secondary-light: $secondary-light,
  secondary-lighter: $secondary-lighter,
  secondary-vivid: $secondary-vivid,
  secondary: $secondary,
  success-dark: $success-dark,
  success-darker: $success-darker,
  success-light: $success-light,
  success-lighter: $success-lighter,
  success: $success,
  warning-dark: $warning-dark,
  warning-darker: $warning-darker,
  warning-light: $warning-light,
  warning-lighter: $warning-lighter,
  warning: $warning,
);

/* bg- classes */
@each $name, $value in $bgMap {
  .bg-#{$name} {
    background-color: $value !important;
  }
}
