/* Colors */
$accent-cool-dark: #28a0cb;
$accent-cool-darker: #07648d;
$accent-cool-light: #97d4ea;
$accent-cool-lighter: #e1f3f8;
$accent-cool: #00bde3;
$accent-warm-dark: #c05600;
$accent-warm-darker: #775540;
$accent-warm-light: #ffbc78;
$accent-warm-lighter: #f2e4d4;
$accent-warm: #fa9441;
$base-dark: #565c65;
$base-darker: #3d4551;
$base-darkest: #1b1b1b;
$base-light: #a9aeb1;
$base-lighter: #dcdee0;
$base-lightest: #f0f0f0;
$base: #71767a;
$disabled-dark: #adadad;
$disabled-light: #e6e6e6;
$disabled: #c9c9c9;
$error-dark: #b51d09;
$error-darker: #6f3331;
$error-light: #f39268;
$error-lighter: #f4e3db;
$error: #d54309;
$info-dark: #009ec1;
$info-darker: #2e6276;
$info-light: #99deea;
$info-lighter: #e7f6f8;
$info: #00bde3;
$primary-dark: #1a4480;
$primary-darker: #162e51;
$primary-light: #73b3e7;
$primary-lighter: #d9e8f6;
$primary-vivid: #0050d8;
$primary: #005ea2;
$secondary-dark: #b51d09;
$secondary-darker: #8b1303;
$secondary-light: #f2938c;
$secondary-lighter: #f8dfe2;
$secondary-vivid: #e41d3d;
$secondary: #d83933;
$success-dark: #4d8055;
$success-darker: #446443;
$success-light: #70e17b;
$success-lighter: #ecf3ec;
$success: #00a91c;
$warning-dark: #e5a000;
$warning-darker: #936f38;
$warning-light: #fee685;
$warning-lighter: #faf3d1;
$warning: #ffbe2e;
$violet-70v: #54278f;
