$font-family-sans-serif: "Public Sans Web", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-georgia: "Public Sans Web", "Georgia", "Cambria", "Times New Roman",
    "Times", serif;
$font-family-helvetica: Helvetica Neue, "Helvetica", "Roboto", "Arial",
    sans-serif;
$font-family-monospace: "Roboto Mono Web", "Bitstream Vera Sans Mono",
    "Consolas", "Courier", monospace;
